*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;  
}

.navbar_container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo_container {
    flex: 1;
}

.logo{    
    font-size: 30px;
    margin: 0px 30px 0px 0px ;
    color: rgb(24, 159, 76); 
}

.menu_container{
    flex: 6;
       
}

.menu_list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_list_item{
    margin: 0 30px;
    cursor: pointer;
}

.home_tab{
    font-weight: bold;
}

.search_container {
    flex: 2;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

.search_bar_container{
    flex: 13;
    padding: 0 2px 2px 0;
    height: 30px;
}

.search_bar{
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border-color: #333;
}

.search_cross_container{
    flex: 1;
    margin:2px 0 2px 2px;
    padding: 9px 5px 5px 5px;
    height: 20px;
    background-color: black;
}

.search_icon_container{
    flex: 1;
    height: 30px;
    width: 30px;
    padding: 5px ;
    color: white;
    background-color: #2584dd;
    border: 0;
    margin: 0 0 0 5px;
    border-radius: 5px;
}

.profile_container{
    flex: 2;
    display: flex; 
    align-items: center;
    justify-content: flex-end;   
}

.profile_picture{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: orange;
    object-fit: cover;
}

.profile_text_container{
    margin: 0 20px;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 100px 0 50px 0 ;
    align-items: center;
}

.sidebar_icon{
    color: white;
    font-size: 18px;
    margin-bottom: 100px
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content_container{
    margin-left: 50px;
}

.featured_content{
    height: 76vh;
    padding: 50px;
}

.featured_movie_wrapper{
    transition: all 2s ease-in-out;
    background-color: black;
    width: 540px;
    height: 540px;
    margin: 7.5px;
    border-radius: 12.5%;
    position: relative;
}

.featured_movie_wrapper:hover .featured_img{
    transform: scale(1.2);
    margin: 5px 15px 55px 15px;
    opacity: 0.5;
}

.featured_img{
    transition: all 1s ease-in-out;
    position: absolute;
    width: 540px;
    height: 540px;
    margin: 0 7.5px 0 0;
    border-radius: 12.5%;
    object-fit: fill;
}

.featured_movie_wrapper:hover .featured_title{
    opacity: 1;
}

.featured_title{
    transition: all 1.25s ease-in-out;
    position: absolute;
    top: 15%;
    left: 75px;
    right: 75px;
    padding: 0 10px;
    font-size: 38px;
    font-weight: bold;
    opacity: 0;
}

.featured_movie_wrapper:hover .featured_description{
    opacity: 1;
}

.featured_description{
    transition: all 1.25s ease-in-out;
    position: absolute;
    color: lightgray;
    margin: 25px 0;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    top: 20%;
    left: 75px;
    right: 75px;
    bottom: 21%;
    opacity: 0;
}

.featured_movie_wrapper:hover .featured_button{
    opacity: 1;
}

.featured_button{
    transition: all 1.25s ease-in-out;
    position: absolute;
    bottom: 15%;
    left: 85px;
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    margin: 0;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    opacity: 0;
}

.featured_movie_wrapper:hover .featured_bookmark{
    opacity: 1;
}

.featured_bookmark{
    transition: all 1.25s ease-in-out;
    position: absolute;
    bottom: 18.25%;
    left: 210px;
    opacity: 0;
}

.featured_bookmark_icon{
    font-size: 20px;
}

.featured_movie_wrapper:hover .featured_crown{
    opacity: 1;
}

.featured_crown{
    transition: all 1.25s ease-in-out;
    position: absolute;
    bottom: 18.25%;
    left: 250px;
    opacity: 0;
}

.featured_crown_icon{
    font-size: 20px;
    color: gold;
}

.featured_movie_wrapper:hover .featured_payment{
    opacity: 1;
}

.featured_payment{
    transition: all 1.25s ease-in-out;
    position: absolute;
    bottom: 15%;
    right: 85px;
    width: 100px;
    height: 40px;
    background-color: #4dbf00;
    color: white;
    margin: 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    opacity: 0;
}


.movie_list_container{
    padding: 5px 20px;
}

.movie_list_title{
    margin-left:0;
    
}

.movie_list_wrapper{
    position: relative;
    overflow: hidden;
}

.movie_list{
    display: flex; 
    align-items: center;
    height: 300px;   
    transform: translateX(0);
    transition: all 1s ease-in-out;

}

.movie_list_item{
    margin-right: 20px;
    padding: 15px 0 ;
    position: relative;
}

.movie_list_item:hover .movie_list_item_img{
    transform: scale(1.2);
    margin: 15px 15px;
    opacity: 0.25;
}

.movie_list_item_img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    border-radius: 12.5%;
    object-fit: fill;
}

.movie_list_item:hover .movie_list_item_title{
    opacity: 1;
}

.movie_list_item_title{
    transition: all 1.25s ease-in-out;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 50px;
    right: 50px;
    opacity: 0;
}

.movie_list_item:hover .movie_list_item_description{
    opacity: 1;
}

.movie_list_item_description{
    transition: all 1.25s ease-in-out;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15%;
    opacity: 0;
}

.movie_list_item:hover .movie_list_item_button{
    opacity: 1;
}

.movie_list_arrow{
    font-size: 100px;
    position: absolute;
    top: 100px;
    right: 0;
    color: lightgrey;
    opacity: 0.75;
    cursor: pointer;
}

@media only screen and (max-width: 940px){
    .menu_container{
        display: none;
    }
}




